#mouse-wrapper {
    /* aspect-ratio: 1.618; */
    width: 100vw;
    height: 100vh;
    position: relative;
}

.mouse-gallery-image {
    width: 40vmin;
    position: absolute;
    transform: translate(-50%, -50%);
}

.mouse-gallery-image[data-status="inactive"] {
    display: none;
}

.mouse-gallery-image[data-status="active"] {
    display: block;
}
